<div class="row">
  <div class="row-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><span class="panel-subtitle"> </span></div>
      <div class="panel-body">
        <form
          novalidate
          [formGroup]="formObj"
          style="border-radius: 0px;"
          class="form-horizontal group-border-dashed"
        >
          <div class="form-group">
            <label class="col-sm-3 control-label">Category</label>
            <div class="col-sm-6">
              <!--
                <select class="form-control" formControlName="category">
                  <option value="">--Select--</option>
                  <option *ngFor="let category of categoryArrayList" [ngValue]="category.slug">{{category.name}}</option>
                </select>
              -->

              <select class="form-control" formControlName="category">
                <option value="">--Select--</option>
                <option
                  *ngFor="let category of categoryArrayList"
                  [value]="category.slug"
                  >{{ category | categoryAncestor }}</option
                >
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- Responsive table -->
  <div class="col-sm-12">
    <div class="panel panel-default panel-table">
      <div class="panel-heading">
        Payment List
        <div class="tools">
          <a title="Add Income" class="icon" routerLink="/transaction/add">
            <span class="mdi mdi-plus"></span>
          </a>
        </div>
      </div>
      <div class="panel-body">
        <mat-form-field class="col-sm-12">
          <input
            matInput
            (keyup)="applyFilter($event.target.value)"
            placeholder="Filter"
          />
        </mat-form-field>
        <table
          class="zero_config table table-striped table-bordered"
          mat-table
          [dataSource]="dataSource"
          matSort
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
            <td mat-cell *matCellDef="let element">
              {{ (element?.category && (element?.category)[0]) ?(element?.category)[0]: 'N/A'  }}
            </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.name ? element?.name : "-" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="paymentDate">
            <th mat-header-cell *matHeaderCellDef>Payment Date</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.paymentDate | date: "medium" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element">
              <span
                [ngClass]="{
                  'amount-debit': element?.mode === 'EXPENSE',
                  'amount-credit': element?.mode === 'INCOME'
                }"
                >{{ element?.amount | currency: "INR" }}</span
              >
            </td>
          </ng-container>

          <ng-container matColumnDef="actions" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <span class="actions">
                <a
                  routerLink="/transaction/update/{{element?._id}}"
                  class="icon"
                >
                  <i class="mdi mdi-edit"></i>
                </a>
              </span>
              <span class="actions">
                <a
                  href="javascript:void(0)"
                  class="icon"
                  (click)="openDialog(element._id)"
                >
                  <i class="mdi mdi-delete"></i>
                </a>
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns; let i = index"
          ></tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[10, 50, 100, 200, 400, 800]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
