<angular-loader></angular-loader>
<div class="be-wrapper be-fixed-sidebar be-fixed-sidebar" *ngIf="isLoggedIn">
    <nav class="navbar navbar-default navbar-fixed-top be-top-header">
        <div class="container-fluid">
            <div class="navbar-header">
                <a routerLink="/" class="navbar-brand"></a>
            </div>
            <div class="be-right-navbar">
                <ul class="nav navbar-nav navbar-right be-user-nav">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                            <img src="assets/img/avatar.png" alt="Avatar">
                            <span class="user-name">{{session?.email}}</span>
                        </a>
                        <ul role="menu" class="dropdown-menu">
                            <li>
                                <div class="user-info">
                                    <div class="user-name">{{session?.email}}</div>
                                    <div class="user-position online">Available</div>
                                </div>
                            </li>
                            <li>
                                <a routerLink="/auth/profile">
                                    <span class="icon mdi mdi-face"></span> Account</a>
                            </li>
                            <!-- <li>
                                <a routerLink="/category/list">
                                    <span class="icon mdi mdi-settings"></span> Settings</a>
                            </li> -->
                            <li>
                                <a href="javascript:void(0)" (click)="logOut();">
                                    <span class="icon mdi mdi-power"></span> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="page-title">
                    <span></span>
                </div>
                <ul class="nav navbar-nav navbar-right be-icons-nav">
                    <li class="dropdown">
                        <!-- <a routerLink="/category/list" role="button" aria-expanded="false" class="be-toggle-right-sidebar">
                            <span class="icon mdi mdi-settings"></span>
                        </a> -->
                    </li>
                    <!-- <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                            <span class="icon mdi mdi-notifications"></span>
                            <span class="indicator"></span>
                        </a>
                        <ul class="dropdown-menu be-notifications">
                            <li>
                                <div class="title">Notifications
                                    <span class="badge">3</span>
                                </div>
                                <div class="list">
                                    <div class="be-scroller ps-container ps-theme-default" data-ps-id="867126c6-04d4-28a7-37e2-ca6aa2fff77a">
                                        <div class="content">
                                            <ul>
                                                <li class="notification notification-unread">
                                                    <a href="#">
                                                        <div class="image">
                                                            <img src="assets/img/avatar2.png" alt="Avatar">
                                                        </div>
                                                        <div class="notification-info">
                                                            <div class="text">
                                                                <span class="user-name">Jessica Caruso</span> accepted your invitation to join the
                                                                team.
                                                            </div>
                                                            <span class="date">2 min ago</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="notification">
                                                    <a href="#">
                                                        <div class="image">
                                                            <img src="assets/img/avatar3.png" alt="Avatar">
                                                        </div>
                                                        <div class="notification-info">
                                                            <div class="text">
                                                                <span class="user-name">Joel King</span> is now following you</div>
                                                            <span class="date">2 days ago</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="notification">
                                                    <a href="#">
                                                        <div class="image">
                                                            <img src="assets/img/avatar4.png" alt="Avatar">
                                                        </div>
                                                        <div class="notification-info">
                                                            <div class="text">
                                                                <span class="user-name">John Doe</span> is watching your main repository</div>
                                                            <span class="date">2 days ago</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="notification">
                                                    <a href="#">
                                                        <div class="image">
                                                            <img src="assets/img/avatar5.png" alt="Avatar">
                                                        </div>
                                                        <div class="notification-info">
                                                            <span class="text">
                                                                <span class="user-name">Emily Carter</span> is now following you</span>
                                                            <span class="date">5 days ago</span>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                        </div>
                                        <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;">
                                            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <a href="#">View all notifications</a>
                                </div>
                            </li>
                        </ul>
                    </li> -->
                    <!-- <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">
                            <span class="icon mdi mdi-apps"></span>
                        </a>
                        <ul class="dropdown-menu be-connections">
                            <li>
                                <div class="list">
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a href="#" class="connection-item">
                                                    <img src="assets/img/github.png" alt="Github">
                                                    <span>GitHub</span>
                                                </a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a href="#" class="connection-item">
                                                    <img src="assets/img/bitbucket.png" alt="Bitbucket">
                                                    <span>Bitbucket</span>
                                                </a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a href="#" class="connection-item">
                                                    <img src="assets/img/slack.png" alt="Slack">
                                                    <span>Slack</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <a href="#" class="connection-item">
                                                    <img src="assets/img/dribbble.png" alt="Dribbble">
                                                    <span>Dribbble</span>
                                                </a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a href="#" class="connection-item">
                                                    <img src="assets/img/mail_chimp.png" alt="Mail Chimp">
                                                    <span>Mail Chimp</span>
                                                </a>
                                            </div>
                                            <div class="col-xs-4">
                                                <a href="#" class="connection-item">
                                                    <img src="assets/img/dropbox.png" alt="Dropbox">
                                                    <span>Dropbox</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <a href="#">More</a>
                                </div>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <div class="be-left-sidebar">
        <div class="left-sidebar-wrapper">
            <a href="javascript:void(0);" class="left-sidebar-toggle">Navigation</a>
            <!-- <a routerLink="/expense/timeline" class="left-sidebar-toggle">Timeline</a> -->
            <div class="left-sidebar-spacer">
                <div class="left-sidebar-scroll">
                    <div class="left-sidebar-content">
                        <ul class="sidebar-elements">
                            <!-- <li class="divider">Nav</li> -->
                            <li routerLinkActive="active">
                                <a routerLink="/dashboard">
                                    <i class="icon mdi mdi-home"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/transaction/add">
                                    <span class="icon">
                                        <span class="mdi mdi-plus-circle"></span>
                                    </span> Add Transaction</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/transaction/timeline">
                                    <i class="icon mdi mdi-chart-donut"></i>
                                    <span>My Timeline</span>
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="/transaction/list">
                                    <i class="icon mdi mdi-face"></i>
                                    <span>My Transactions</span>
                                </a>
                            </li>
                           
                            <!-- <li routerLinkActive="active">
                                    <a routerLink="/expense/income">
                                        <i class="icon mdi mdi-chart-donut"></i>
                                        <span>My Income</span>
                                    </a>
                                </li> -->
                            <!-- <li class="parent" routerLinkActive="active">
                                <a href="#">
                                    <i class="icon mdi mdi-face"></i>
                                    <span>My Transactions</span>
                                </a>
                                <ul class="sub-menu">
                                    <li routerLinkActive="active">
                                        <a routerLink="/expense/add"><span class="icon"><span class="mdi mdi-plus-circle"></span></span> Add Transaction</a>
                                    </li>
                                    <li routerLinkActive="active">
                                        <a routerLink="/expense/list">Manage Expense</a>
                                    </li>
                                    <li routerLinkActive="active">
                                        <a routerLink="/expense/income">Manage Income</a>
                                    </li>
                                </ul>
                            </li> -->
                            <li routerLinkActive="active">
                                <!-- <a routerLink="/card/list">Manage Card</a> -->
                                <a routerLink="/card/list">
                                    <i class="icon mdi mdi-case-download"></i>
                                    <span>My Payments Mode</span>
                                </a>
                                <!-- <ul class="sub-menu">
                                    <li routerLinkActive="active">
                                        <a routerLink="/card/add">Add Card</a>
                                    </li>
                                    <li routerLinkActive="active">
                                        <a routerLink="/card/list">Manage Card</a>
                                    </li>
                                    <li>
                                        <a routerLink="/expense/timeline">Timeline</a>
                                    </li>
                                </ul> -->
                            </li>
                            <!-- <li class="parent" routerLinkActive="active">
                                <a href="#">
                                    <i class="icon mdi mdi-border-all"></i>
                                    <span>Settings</span>
                                </a>
                                <ul class="sub-menu">
                                    <li>
                                        <a routerLink="/category/list">Categories</a>
                                    </li>
                                </ul>
                            </li> -->
                            <li routerLinkActive="active">
                                    <a routerLink="/category/list">
                                        <i class="icon mdi mdi-border-all"></i>
                                        <span>My Categories</span>
                                    </a>
                                </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="progress-widget">
                <div class="progress-data">
                    <span class="progress-value">60%</span>
                    <span class="name">Current Project</span>
                </div>
                <div class="progress">
                    <div style="width: 60%;" class="progress-bar progress-bar-primary"></div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="be-content">
        <div class="main-content container-fluid">
            <!-- <div class="page-head">
                <h2 class="page-head-title">Form Elements</h2>
                <ol class="breadcrumb page-head-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Forms</a>
                    </li>
                    <li class="active">Elements</li>
                </ol>
            </div> -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div *ngIf="!isLoggedIn">
    <router-outlet></router-outlet>
</div>