<div class="row">
  <div class="col-md-12 text-center">
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-divider">Add Category
        <span class="panel-subtitle">
          <!-- These are the basic bootstrap form elements -->
        </span>
      </div>
      <div class="panel-body">
        <form novalidate (ngSubmit)="add()" [formGroup]="formObj" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
          <!-- <div class="form-group">
            <label class="col-sm-3 control-label">Mode of Category*</label>
            <div class="col-sm-12">
              <select class="form-control" formControlName="mode">
                <option value="">--Select--</option>
                <option *ngFor="let mode of paymentModeArray" [value]="mode.value">{{mode.name}}</option>
              </select>
            </div>
          </div> -->
          <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="Enter categoy name" formControlName="name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Select Category</label>
            <div class="col-sm-6">
              <select class="form-control" formControlName="parent">
                <option value="">--Select--</option>
                <option *ngFor="let category of categoryArrayList" [value]="category._id">{{category | ancestors}}</option>
              </select>
            </div>
          </div>

          <!-- <div class="form-group">
            <label class="col-sm-3 control-label">Status</label>
            <div class="col-sm-6">
              <div class="be-radio be-radio-color inline">
                <input type="radio" [value]="true" [checked]="true" id="rad9" formControlName="status">
                <label for="rad9">Active</label>
              </div>
              <div class="be-radio be-radio-color inline">
                <input type="radio" id="rad10" [value]="false" formControlName="status">
                <label for="rad10">Inactive</label>
              </div>

            </div>
          </div> -->

          <div class="form-group">
              <!-- <label class="col-sm-3 control-label"></label> -->
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary">SAVE</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>